.hero-content {
	width: 100%;
	height: 100vh;
	position: relative;
	text-align: center;
	vertical-align: middle;
	padding-top: 0;

	.hero-bg {
		height: 100%;
		width: 100%;

		&.hero-has-image {
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
			background-attachment: inherit;
			background-color: #464646;
			@extend %shadow;
		}

		&.hero-no-image {
			//to-do
		}
	}

	%white-hero {
		font-size: 103px;
		line-height: 1.2;
		color: $color__link-contrast;
		position: relative;
	}

	%hero-gradient {
		background-image: linear-gradient(transparent 0%, transparent 55%, rgba(0, 0, 0, 0.5) 55%, rgba(0, 0, 0, 0.5) 100%, transparent 100%, transparent 100%);
		background-size: 100% 100%;
	}

	.hero-content-wrap {
		max-width: 600px;
		overflow: visible;
		margin: auto;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	
		@media screen and (min-width: #{$breakpoint_tablet}) {
			width: 100%;
		}

		.entry-content {
			p {

				@media screen and (min-width: #{$breakpoint_tablet}) {
					padding: 0 5px;
				}
		
				color: $color__link-contrast;
				text-align: center;
			}
		}

		.hero-meta {
			width: 100%;
			
			.no-thumbnail .header-content & {
				display: none;
			}
		
			.hero-categories {
				display: inline-block;
		
				&::after {
					content: " - ";
					color: $color__link-contrast;
				}
				
				@media screen and (min-width: #{$breakpoint_mobile}) {
					display: block;
				}

				a {
					text-decoration: none;
					border-bottom: none;
					color: $color__link-contrast;
				}
			}
		
			.hero_date {
				display: inline-block;
				color: $color__link-contrast;
			}
		}

	}
	
}

.hero_read_more a {
	color: $color__link-contrast;
	text-transform: uppercase;
}

/* Down Arrow */
.arrow-wrap {
	position: absolute;
	z-index: 1;
	left: 50%;
	bottom: 5em;
	display: block;
	border-radius: 50%;
	font-size: 0.5em;
	transform: translateX(-50%);
}

a.arrow-wrap {
	border-bottom-color: transparent;
}

.arrow {
	float: left;
	position: relative;
	width: 24px;
	height: 24px;
	padding: 12px;
	box-shadow: 1px 1px white;
	transform: rotate(45deg);
}
