.hero-wrapper {
	background: transparent;
	box-shadow: none;
	height: 100vh;
	position: relative;
	text-align: center;
	text-shadow: 0 0 0.125em rgba(0, 0, 0, 0.5);
	vertical-align: middle;
	width: 100%;
	overflow: hidden;

	/* Admin Bar Fix */
	.admin-bar & {
		margin-top: -32px;
	}

	.hero-bg {
		height: 100%;
		width: 100%;

		.has-hero-thumbnail & {
			background-attachment: inherit;
			background-color: $color__background-hero;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			box-shadow:	inset 0px 0px 250px 0px rgba(0 , 0 , 0 , 0.75);
		}
	}

	.hero-content {
		left: 50%;
		margin-left: 0;
		margin-right: 0;
		margin-top: 10vh;
		max-height: 45vh;
		overflow: visible;
		position: absolute;
		top: 40%;
		transform: translateX(-50%) translateY(-50%);

		.entry-header {
			margin: 0 0 1.538em;
		}

		.entry-title {
			background-size: 100% 100%;
			color: $color__contrast;
			@include font-size(2.85);
			line-height: 1.2;
			margin: 0;
			position: relative;

			a,
			.hero-title {
				background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 55%, rgba(0, 0, 0, 0.5) 55%, rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
				background-size: 100% 100%;
				border-bottom: none;
				color: $color__contrast;
				position: relative;
				text-decoration: none;
				width: 100%;
			}
		}

		.entry-content {
			p {
				color: $color__contrast;
				display: none;
				@include font-size(0.688);
				text-align: center;
			}

			.more-link {
				color: $color__contrast;
				display: inline-block;
				line-height: 1.308;
				margin-top: 1.692em;
				text-transform: uppercase;
			}
		}

		.entry-meta {
			color: $color__contrast;
			width: 100%;

			a,
			span {
				border: none;
				color: $color__contrast;
			}

			body:not(.has-hero-thumbnail) .header-content & {
				display: none;
			}

			.cat-links, a {
				display: inline;
			}

			.cat-links {
				svg {
					display: none;
				}
			}

			.posted-on,
			.sticky-label {
				&:before {
					color: $color__contrast;
					content: ' - ';
				}
			}

			.posted-on svg {
				display: none;
			}

			.byline {
				&:before {
					content: ' ';
				}

				svg {
					display: none;
				}
			}
		}

	}

}

.hfeed:not(.search-results):not(.archive) .hentry.has-post-thumbnail:first-of-type {
	overflow: hidden;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
}

.scroll-indicator-wrapper {
	bottom: 5em;
	display: block;
	height: 24px;
	margin-bottom: 3.84615%;
	position: relative;
	z-index: 1;
}

.scroll-indicator {
	animation: opacityUp .5s ease both;
	border-bottom: none;
	bottom: 0;
	display: block;
	height: 24px;
	left: 50%;
	opacity: 1;
	position: absolute;
	transform: translateX(-50%);
	width: 48px;

	&.scrolled {
		animation: opacityDown .5s ease both;
	}

	&:before, &:after {
		background-color: #fff;
		content: '';
		height: 2px;
		position: absolute;
		width: 34px;
	}

	&:before {
		left: -5px;
		top: 11px;
		transform: rotate(45deg);
	}

	&:after {
		left: 19px;
		top: 11px;
		transform: rotate(135deg);
	}

	&:hover:before,
	&:hover:after {
		opacity: 0.75;
	}

	&:focus {
		outline: dotted thin #fff;
	}
}