.hero-wrapper {
	width: 100%;
	height: 100vh;
	position: relative;
	text-align: center;
	vertical-align: middle;
	background: transparent;
	box-shadow: none;
	text-shadow: 0 0 0.125em rgba(0, 0, 0, 0.5);
	
	/* Admin Bar Fix */
	.admin-bar & {
		margin-top: -32px;
	}

	.hero-bg {
		height: 100%;
		width: 100%;

		.has-hero-thumbnail & {
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
			background-attachment: inherit;
			background-color: $color__background-hero;
			-moz-box-shadow:	inset 0px 0px 250px 0px rgba(0 , 0 , 0 , 0.75);
			-webkit-box-shadow:	inset 0px 0px 250px 0px rgba(0 , 0 , 0 , 0.75);
			box-shadow:			inset 0px 0px 250px 0px rgba(0 , 0 , 0 , 0.75);
			
		}
	}

	.hero-content {
		overflow: visible;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		
		.entry-header {
			margin: 0 0 2.308em;
		}

		.entry-title {
			@include font-size(6.438);
			line-height: 1.2;
			position: relative;
			background-size: 100% 100%;
			color: $color__contrast;
			margin: 0;

			a {
				border-bottom: none;
				text-decoration: none;
				background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 55%, rgba(0, 0, 0, 0.5) 55%, rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
				background-image: -moz-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 55%, rgba(0, 0, 0, 0.5) 55%, rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
				background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 55%, rgba(0, 0, 0, 0.5) 55%, rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
				background-size: 100% 100%;
				width: 100%;
				position: relative;
				color: $color__contrast;
			}
		}

		.entry-content {			
			p {
				color: $color__contrast;
				text-align: center;
			}
			
			.more-link {
				color: $color__contrast;
				text-transform: uppercase;
			}	
		}

		.entry-meta {
			width: 100%;
			color: $color__contrast;

			a, span {
				border: none;
				color: $color__contrast;
			}
			
			body:not(.has-hero-thumbnail) .header-content & {
				display: none;
			}
			
			.hero_date {
				display: inline-block;
				color: $color__contrast;
			}
			
			.post-meta-categories, a {
				display: inline;
			}
		}

	}
	
}

.has-hero-thumbnail article.post:first-of-type {
	padding-top: 0;
	overflow: hidden;
}

.scroll-indicator-wrapper {
	height: 24px;
	margin-bottom: 3.84615%;
	position: relative;
	z-index: 1;
	display: block;
	bottom: 5em;
}

.scroll-indicator {
	-webkit-animation: opacityUp .5s ease both;
	animation: opacityUp .5s ease both;
	bottom: 0;
	display: block;
	height: 24px;
	left: 50%;
	position: absolute;
	width: 48px;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
	opacity: 1;
	border-bottom: none;

	&.scrolled {
		-webkit-animation: opacityDown .5s ease both;
		animation: opacityDown .5s ease both;
	}
	
	&:before, &:after {
		content: '';
		width: 34px;
		height: 2px;
		background-color: #fff;
		position: absolute;
	}
	
	&:before {
		left: -5px;
		top: 11px;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	
	&:after {
		left: 19px;
		top: 11px;
		-webkit-transform: rotate(135deg);
		-moz-transform: rotate(135deg);
		transform: rotate(135deg);
	}
	
	&:hover:before, &:hover:after {
		opacity: 0.75;
	}
	
	&:focus {
		outline: dotted thin #fff;
	}
}