.main-navigation {
	clear: both;
	display: block;
	width: 100%;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		ul {
			display: none;

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
				&:first-child {
					border-top: 0;
				}
			}

			a {
				position: relative;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
			
			&.sub-on {
				border-bottom: 0;
				border-left: 1px solid lighten( $color__background-sliding-panel, 5% );
				border-top: 1px solid lighten( $color__background-sliding-panel, 5% );
				display: block;
				margin-left: 24px;
				margin-top: -1px;
				position: relative;
				
				&:before {
					background: $color__background-sliding-panel;
					content: "";
					display: block;
					height: 1px;
					left: -25px;
					position: absolute;
					top: -1px;
					width: 24px;
				}
			}
		}		
	}

	li {
		float: left;
		position: relative;
		border-top: 1px solid lighten( $color__background-sliding-panel, 5% );

		&:hover > a,
		&.focus > a {
		}
		
		&:before {
			padding: 0;
			content: '';
		}
	}

	a {
		color: $color__text-button;
		display: block;
		padding: 15px 24px;
		border-bottom: none;
		
		&:active,
		&:focus,
		&:hover {
			background: darken( $color__background-sliding-panel, 5% );
		}
		
		&:hover {
			color: $color__accent;
		}
		
		&.toggle-on {
			padding-bottom: 16px;
		}
		
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		color: $color__accent;
	}
	
	& > div > ul > li:last-child {
		border-bottom: 1px solid lighten( $color__background-sliding-panel, 5% );
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggle-on ul {
	display: block;
}

.menu-toggle:before {
	content: '\2630';
	display: inline-block;
	margin-right: 5px;
}


.main-navigation ul {
	display: block;
}

/* Menu Toggle */
.menu-toggle {
	background: $color__background-sliding-panel;
	border: 0;
	border-radius: 0;
	color: $color__contrast;
	height: 54px;
	width: 54px;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 45px;
	top: 45px;
	z-index: 10;
	outline: 1px solid transparent;
	display: block;
	font-size: 20px;
	
	&:focus, &:active {
		color: $color__contrast;
	}
	
	&:hover {
		background: lighten( $color__background-sliding-panel, 5% );
		color: $color__accent;
		outline: 1px solid transparent;
	}
	
	&:before {
		height: 54px;
		line-height: 50px;
		width: 54px;
	}

	&.toggle-on {
		
		
		&:active,
		&:focus,
		&:hover {

		}
		
		&:hover {
		}
		
		&:before {
			content: '\f406';
			font-family: "Genericons";
			font-size: 13px;
			line-height: 50px;
			height: 50px;
		}
	}
}

/* Dropdown Toggle */
.showsub-toggle {
	background: $color__background-sliding-panel;
	border: 0;
	color: $color__contrast;
	height: 54px;
	outline: 1px solid lighten( $color__background-sliding-panel, 5% );
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 54px;
	z-index: 1;
	
	&:active, &:focus, &:hover {
		background: darken( $color__background-sliding-panel, 5% );
		outline: 1px solid lighten( $color__background-sliding-panel, 5% );
	}
	
	&:hover {
		color: $color__accent;
	}
	
	&:before {
		content: "\f431";
		font-family: "Genericons";
		font-size: 24px;
		height: 54px;
		line-height: 54px;
		width: 54px;
	}
	
	&.sub-on:before {
		content: '\f432';
	}
}
