@import "navigation-vertical";

.slide-panel {
	position: relative;
	z-index: 3;
	display: none;
	width: 100%;
	padding: 0;
	background: $color__background-sliding-panel;
	outline-color: lighten( $color__background-sliding-panel, 5% );
	outline-style: solid;
	outline-width: 0;
	overflow: hidden;
	overflow-x: hidden;

	a {
		color: $color__background-sliding-panel-link;
	}

	&.expanded {
		display: block;
	}
	
	.jetpack-social-navigation {
		margin-bottom: 1em;
		ul {
			margin-bottom: .75em;
			text-align: center;
		}
	
		li {
			padding: 0 0.4em 1.5em;
			
			&:before {
			    content: '';
			    padding-right: 0;
			}
		}
	
		a {
			&:hover,
			&:focus {
				opacity: 0.5;
			}
	
			&:before {
				@include font-size(1.923);
				vertical-align: middle;
			}
		}
	}

}

/* Medium screens */
@media screen and (min-width: #{$breakpoint_tablet}) {
	
	.slide-panel {
		position: fixed;
		top: 0;
		right: -26.923em;
		display: block;
		visibility: hidden;
		overflow: scroll;
		width: 26.923em;
		height: 100%;
		padding: 3.75em 0;
	
		-webkit-transition: 350ms all ease-in-out;
		-moz-transition: 350ms all ease-in-out;
		transition: 350ms all ease-in-out;
		
		/* Admin Bar Fix */
		.admin-bar & {
			padding-top: 6.154em;
		}
	
		&.expanded, .single &.expanded {
			right: 0;
			display: block;
			visibility: visible;
			-webkit-transition: 350ms all ease-in-out;
			-moz-transition: 350ms all ease-in-out;
			transition: 350ms all ease-in-out;
			}
		}
	
	.site {
		position: relative;
		left: 0;
		-webkit-transition: 350ms left ease-in-out;
		-moz-transition: 350ms left ease-in-out;
		transition: 350ms left ease-in-out;
	}

	.sidebar-open .site {
		left: -320px;
		-webkit-transition: 350ms left ease-in-out;
		-moz-transition: 350ms left ease-in-out;
		transition: 350ms left ease-in-out;
	}
}