@import "navigation-vertical";

.slide-panel {
	background: $color__background-sliding-panel;
	display: block;
	height: 100%;
	outline-color: lighten( $color__background-sliding-panel, 5% );
	outline-style: solid;
	outline-width: 0;
	overflow: scroll;
	position: absolute;
	right: -100%;
	visibility: hidden;
	width: 100%;
	z-index: 3;

	a {
		color: $color__background-sliding-panel-link;
	}

	&.expanded, .single &.expanded {
		visibility: visible;
	}

	.jetpack-social-navigation {
		border-top: 1px solid lighten( $color__background-sliding-panel, 5% );
		margin-bottom: 0em;

		ul {
			margin-bottom: 2px;
			text-align: center;
		}

		li {
			padding: 0.615em 0.4em 0.769em;

			&:before {
			    content: '';
			    padding-right: 0;
			}
		}

		a {
			@include font-size(2);

			&:hover,
			&:focus {
				color: $color__accent;
				opacity: 1;
			}
		}
	}
}

.slide-panel-open {
	.site {
		left: -100%;
	}

	.menu-toggle {
		margin-right: -100%;
		outline: 1px solid lighten( $color__background-sliding-panel, 5% );
	}

	.body-wrapper {
		overflow: hidden;
	}
}
