.full-width-widget-area {
	@media screen and (min-width: #{$breakpoint_tablet}) {
		float: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 3.2em 10% 0 10%;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		max-width: 1040px;
	
		.widget {
			flex-basis: 30%;
			margin: 0 0 1.6em;
		}
	
		.widget-gallery,
		.widget_text,
		.widget_wpcom_instagram_widget {
			flex-basis: 100%;
		}
	}
}

.site-footer {
	width: 100%;
	padding: 80px 40px 40px 40px;
	display: inline-block;

	@media screen and (max-width: #{$breakpoint_tablet}) {
		width: 100%;
	}

	@media screen and (max-width: #{$breakpoint_laptop}) {
		text-align: center;
		float: none;
		padding: 20px 20px 20px 20px;
	}

	a:first-child {
		border: none;
	}

	ul.menu {
		@media screen and (max-width: #{$breakpoint_tablet}) {
			padding-left: 0;
		}
	}

	@media screen and (min-width: #{$breakpoint_tablet}) {
		.site-content .full-width-widget-area {
			padding: 3.2em 10% 0 10%;
		}
	
		.footer-widgets-wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			padding: 3.2em 10%;
	
			.widget-area {
				width: 30%;
			}
		}
	}
	
}

.site-info {
	margin-right: auto;
	display: inline-block;
}

.footer-navigation {
	float: right;
	text-align: right;
	
	@media screen and (max-width: #{$breakpoint_tablet}) {
		text-align: center;
		float: none;
	}

	@media screen and (max-width: #{$breakpoint_laptop}) {
		text-align: center;
		float: none;
	}

	.menu-toggle {
		display: none;
	}

	.menu {
		ul {
			margin: 0 auto;
		}

		li {
			display: inline-block;
			margin-right: 10px;

			&:before {
				content: "";
			}

			&.menu-item-has-children, &.page_item_has_children {

				&:after {
					display: none;
				}

				.sub-menu, .children {
					display: none;
				}
			}

			a {
				color: black;
				text-decoration: none;
				font-family: $font__code-tertiary;
				border-bottom-width: 0px;
				border-bottom-color: $color__accent;
				border-bottom-style: solid;

				&:hover {
					border-bottom-width: 3px;
				}
			}
		}
	}
}
