.site-footer {
	line-height: 1.538;
	margin: 30px 40px 0;
}

.site-info {
	margin-bottom: 2em;
	text-align: center;
	width: 100%;
}

.footer-navigation {
	text-align: center;
	width: 100%;

	.menu-toggle {
		display: none;
	}

	.menu {
		ul {
			margin: 0 auto;
		}

		li {
			display: inline-block;
			margin-bottom: 0.769em;
			margin-right: 0.769em;

			&:before {
				content: "";
			}

			&.menu-item-has-children,
			&.page_item_has_children {

				&:after {
					display: none;
				}

				.sub-menu,
				.children {
					display: none;
				}
			}

			a {
				border-bottom-color: $color__accent;
				border-bottom-style: solid;
				border-bottom-width: 0px;
				font-family: $font__code-tertiary;
				text-decoration: none;
				transition: all .2s;
				&:hover {
					border-bottom-width: 3px;
				}
			}
		}
	}
}
