body:not(.has-hero-thumbnail) .site-header {
	margin-bottom: 2em;
}

.site-header {
	display: block;
}

.site-branding {
	margin-bottom: 0px;
	margin: 2.308em 9em 0 3.077em;
	position: absolute;
	z-index: 50;
	left: 0;
	font-family: $font__code;

	.site-title {
		font-weight: 700;
		@include font-size(.875);
		line-height: 1;
		margin: 0;
		font-family: $font__main;

		a {
			color: $color__light;
			border-bottom: 0;
			text-decoration: none;

			&:active, &:focus, &:hover {
				color: rgba(255, 255, 255, 0.85);
			}
		}
	}

	.site-description {
		font-weight: 400;
		@include font-size(0.75);
		margin-top: 1em;
		color: $color__light;
		margin: .556em 0 0;
		letter-spacing: 1px;
	}

	a img {
		position: absolute;
		max-width: 23.077em;
		max-height: 7.692em;
		overflow: hidden;
	}
}

.custom-logo-link {
	margin-bottom: 0px;
	margin: 2.308em 9em 0 3.077em;
	position: absolute;
	z-index: 50;
	left: 0;
	border: none;
}

.has-hero-thumbnail {
	.site-branding {
		text-shadow: 0 0 0.125em rgba(0, 0, 0, 0.20) ;
	}
}


body:not(.has-hero-thumbnail), .search-results, .archive {
	.site-branding {
		position: relative;
		text-shadow: none;
		overflow: hidden;

		.site-title a {
		    color: $color__title;

		    &:active, &:focus, &:hover {
				color: rgba(14, 54, 79, 0.8);
			}
		}

		.site-description {
			clear: both;
			color: $color__title;
		}

		.site-title, .site-description {
			float: left;
		}
	}

	.custom-logo-link {
		position: relative;
	}
}

.no-site-title {
	display: none;
}
