.site-branding {
	margin-bottom: 0px;
	padding: 20px 40px;
	position: absolute;
	z-index: 50;
	top: 0;
	left: 0;
	
	a img {
		position: absolute;
		max-width: 180px;
		max-height: 100px;
		overflow: hidden;
		
		@media screen and (max-width: #{$breakpoint_laptop}) {
			max-width: 90px;
			max-height: 90px;
		}
	}
}

.no-hero-thumbnail {

	.site-branding {
		background-color: transparent;
		border-bottom: none;
		position: relative;
	}

	.site-title {
	    color: $color__link;
	}
	
	.site-description {
		background: $color__title;
		clear: both;
	}
	
	.site-title, .site-description {
		float: left;
	}
}

button {
	&:focus {
		outline: none !important;
	}
}

.site-title {
	font-size: 16px;

	line-height: 1;
	margin: 0;
	font-family: $font__main;
	text-align: left;
	
	a {
		color: $color__contrast;
		border-bottom: 0;
		text-decoration: none;
		font-family: $font__main;
		text-align: left;
	}
}

.site-title, .site-description {
	margin-top: 10px;
}

.site-description {
	font-size: 9px;
	margin-top: 1em;
	font-family: $font__code-tertiary;
	text-transform: uppercase;
	letter-spacing: 2px;
	background: $color__title;
	color: $color__contrast;
	padding: 5px;
	font-weight: normal;
}

.no-site-title {
	display: none;
}

.header-content {
	position: relative;
	width: 100%;
	height: auto;
	margin: auto;
}
