.has-hero-thumbnail.admin-bar .site-header {
	margin-top: 30px;
}

.site-branding {
	width: 99%;
	height: 80px;
	margin-bottom: 20px;
	padding: 20px 40px;
	position: absolute;
	z-index: 50;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	
	a img {
		position: absolute;
		max-width: 180px;
		max-height: 100px;
		overflow: hidden;
		
		@media screen and (max-width: #{$breakpoint_laptop}) {
			max-width: 90px;
			max-height: 90px;
		}
	}
}

.no-hero-thumbnail {

	.site-branding {
		background-color: transparent;
		border-bottom: none;
		position: relative;

		a {
			border-bottom: none;
			font-family: $font__code-tertiary;
		}
	}

	.site-title {
	    color: $color__link;
	}

}

button {
	&:focus {
		outline: none !important;
	}
}

.site-title {
	position: relative;
	float: left;
	width: 20%;
	text-align: left;
	margin-top: 10px;

	font-size: 14px;
	line-height: 1;
	margin: 0;
	font-family: $font__main;
	text-align: left;
	
	a {
		color: $color__link-contrast;
		border-bottom: 0;
		text-decoration: none;
		font-family: $font__main;
		text-align: left;
	}
}

.no-site-title {
	display: none;
}

.header-content {
	position: relative;
	width: 100%;
	height: auto;
	margin: auto;
}
