html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
	width: 100%;
}

#page {
	position: relative;
	word-wrap: break-word;
}

.body-wrapper {
	overflow-x: hidden;
}

.site {
	height: 100%;
	left: 0;
    position: relative;
}

/*--------------------------------------------------------------
## Posts
--------------------------------------------------------------*/
@import "posts";

/*--------------------------------------------------------------
## Pages
--------------------------------------------------------------*/
@import "pages";

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
@import "header";

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
@import "footer";

/*--------------------------------------------------------------
## No Content
--------------------------------------------------------------*/
@import "nocontent";

/*--------------------------------------------------------------
## Search Results
--------------------------------------------------------------*/
@import "search-results";

/*--------------------------------------------------------------
## Containers
--------------------------------------------------------------*/
.hero-content,
.search-no-results .site-content .content-area,
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation,
#comments,
.content-area .site-main .page-header,
.page-content,
.entry-wrapper,
.error-404-widgets {
	margin-left: 30px;
	margin-right: 30px;
	max-width: 600px;
}
