html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

.body-wrapper {
	overflow-x: hidden;
}

/*--------------------------------------------------------------
## Posts
--------------------------------------------------------------*/
@import "posts";

/*--------------------------------------------------------------
## Pages
--------------------------------------------------------------*/
@import "pages";

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
@import "header";

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
@import "footer";

/*--------------------------------------------------------------
## No Content
--------------------------------------------------------------*/
@import "nocontent";

/*--------------------------------------------------------------
## Search Results
--------------------------------------------------------------*/
@import "search-results";

/*--------------------------------------------------------------
## Containers
--------------------------------------------------------------*/
.hero-content,
.entry-wrapper,
.search-no-results .site-content .content-area,
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation,
#comments,
.content-area .site-main .page-header,
.page-content {
	margin-left: auto;
	margin-right: auto;
	max-width: 46.154em;
	
}

.full-width-widget-area {
	margin-left: auto;
	margin-right: auto;
	max-width: 53.846em;
}
