/**
 * >= 470px
 */

@media screen and ( min-width: 29.375em ) {
	.hero-wrapper {
		.hero-content {
			.entry-title {
				@include font-size(3.36);
			}

			.entry-content {
				p {
					display: block;
				}
			}
		}
	}
}

/**
 * >= 601px
 */

@media screen and ( min-width: 37.5625em ) {
	.hero-wrapper {
		.hero-content {
			.entry-title {
			}

			.entry-content {
				p {
					@include font-size(0.813);
				}
			}
		}
	}
}

/**
 * >= 700px
 */

 @media screen and ( min-width: 43.75em ) {

	.hero-content,
	.search-no-results .site-content .content-area,
	.site-main .comment-navigation,
	.site-main .posts-navigation,
	.site-main .post-navigation,
	#comments,
	.content-area .site-main .page-header,
	.page-content,
	.entry-wrapper {
		margin-left: auto;
		margin-right: auto;
	}

	.comment-navigation,
	.posts-navigation,
	.post-navigation {
		padding-left: 0;
		padding-right: 0;
	}

	 .entry-wrapper {
		blockquote {
			@include font-size(2);
		}
	}

	.content-area {
		.site-main {
			.page-title {
				@include font-size(2.42);
				background-size: 50px 52px;
			}
		}
	}

	.hero-wrapper {
		.hero-content {
			.entry-title {
				@include font-size(3.95);
			}
		}
	}
}

/**
 * >= 828px
 */

@media screen and ( min-width: 51.755em ) {
	.hentry {
		padding-left: 0;
		padding-right: 0;
	}

	.entry-wrapper {
		blockquote {
			@include font-size(2.5);
		}

		.entry-header {
			.entry-title {
				@include font-size(3.187);
			}
		}

		.entry-footer {
			display: flex;
			justify-content: space-between;

			span {
				width: auto;
				display: inline;
				text-align: left;
			}

			.entry-meta {
				.post-meta-categories {
					display: inline-block;
					text-align: left;

					&::after {
						content: " - ";
						color: $color__contrast;
					}

					a {
						text-decoration: none;
						color: $color__text-main;
					}
				}

				.separator {
					display: inline-block;
					padding-left: 5px;
					padding-right: 5px;
				}

				.byline {
					display: inline;
				}
			}

			> * {
				display: inline-block;
			}

			.posted-on {
				a {
					border-bottom: none;
				}
			}

			.comments-link {
				a {
					border-bottom: none;
				}
			}
		}
	}

	.content-area {
		.site-main {
			.page-title {
				@include font-size(2.85);
				background-size: 50px 62px;
			}
		}
	}

	.error404 .content-area .site-main {
		.page-title {
			@include font-size(2.167);
			background-size: 50px 47px;
		}
	}

	.site-footer {
		.site-info {
			width: auto;
			margin-right: auto;
			display: inline-block;
			line-height: 1.6;
			margin-bottom: 0;
			text-align: left;
		}

		.footer-navigation {
			width: auto;
			float: right;
			text-align: right;

			.menu ul li {
				margin-bottom: 0;
			}
		}
	}

}

/**
 * >= 925px
 */

@media screen and ( min-width: 57.8125em ) {

	.scroll-indicator-wrapper {
		margin-bottom: 2.9412%;
	}

	.post {
		.entry-wrapper {
			.post-meta-categories {
				display: block;
			}
		}
	}

	input.search-submit {
		margin-bottom: 35px;
	}

	.entry-wrapper {
		.single &, body.page & {

			.entry-header {
				margin-left: -7.692em;
				margin-right: -7.692em;
			}

			.entry-content {
				margin-top: 3.846em;
			}
		}

		.post-thumbnail {
			margin-left: -7.692em;
			margin-right: -7.692em;
		}
	}

	.site-main .hentry .entry-wrapper .entry-main {
		position: relative;
		padding: 3.846em 3.846em 5.385em 3.846em;
		margin: -3.846em -3.846em 0 -3.846em;
	}

	.hentry:not(.has-post-thumbnail) .entry-wrapper .entry-main {
		margin-top: 0;
		padding-top: 0;
		background-color: transparent;
	}

	.content-area {
		.site-main {
			.page-title {
				@include font-size(3.187);
				background-size: 50px 69px;
				margin-left: -1.961em;
				margin-right: -1.961em;
			}
		}
	}

	.error404 .content-area .site-main {
		.page-title {
			@include font-size(2.55);
			background-size: 50px 55px;
		}
	}

	.hero-wrapper {
		.hero-content {
			.entry-title {
				@include font-size(5.472);
			}
		}
	}

	.menu-toggle {
		right: 40px;
		top: 30px;
	}

	.slide-panel {
		right: -24.625em;
		width: 24.625em;
		overflow: scroll;
		position: absolute;
		padding: 30px 0 2em;

		&.expanded, .single &.expanded {
			height: 100%;
			-webkit-transition: 350ms all ease-in-out;
			-moz-transition: 350ms all ease-in-out;
			transition: 350ms all ease-in-out;
		}
	}

	.site {
		position: relative;
		left: 0;
	}

	.slide-panel-open {
		background-color: transparent;
		-webkit-transition: none;
		-moz-transition: none;
		transition: none;
		-webkit-transition-delay: none;
		-moz-transition-delay: none;
		transition-delay: none;

		.menu-toggle {
			margin-right: 0;
			outline: none;
		}

		.site {
			left: -320px;
		}
	}

	.slide-panel-open .body-wrapper {
		overflow: visible;
	}
}

/**
 * >= 1088px
 */

@media screen and ( min-width: 68em ) {
	.entry-wrapper {
		.entry-header {
			.entry-title {
				@include font-size(3.750);
			}
		}

		blockquote {
			margin-left: -4.675em;
			margin-right: -4.675em;
		}

		.wp-caption {
			&.alignleft, &.alignright {
				max-width: 30.1536em;
			}

			&.alignleft {
				margin-right: 3em;
				margin-left: -14.453em;
			}

			&.alignright {
				margin-left: 3em;
				margin-right: -14.453em;
			}

			&.aligncenter, &.alignnone {
				margin-left: -14.453em;
				margin-right: -14.453em;
				max-width: calc( 14.453em * 2 + 100% );
			}
		}
	}

	.content-area {
		.site-main {
			.page-title {
				@include font-size(3.75);
				background-size: 50px 81px;
				margin-left: -1.667em;
				margin-right: -1.667em;
			}
		}
	}

	.error404 .content-area .site-main {
		.page-title {
			@include font-size(3);
			background-size: 50px 65px;
		}

		.page-content {
			margin-top: 3.846em;
		}
	}

	.hero-wrapper {
		.hero-content {
			.entry-title {
				@include font-size(6.438);
			}
		}
	}
}


/**
 * >= 1216px
 */

@media screen and (min-width: 76em) {
	.entry-wrapper {
		blockquote {
			margin-left: -5.250em;
			margin-right: -5.250em;
		}

		.wp-caption {
			&.alignleft, &.alignright {
				max-width: 37.692em;
			}

			&.alignleft {
				margin-right: 3em;
				margin-left: -16.154em;
			}

			&.alignright {
				margin-left: 3em;
				margin-right: -16.154em;
			}

			&.aligncenter, &.alignnone {
				margin-left: -16.154em;
				margin-right: -16.154em;
				max-width: calc( 16.154em * 2 + 100% );
			}
		}
	}
}