/**
 * >= 470px
 */

@media screen and ( min-width: 29.375em ) {

	.hero-wrapper {
		.hero-content {
			margin-top: 0;
			max-height: 60vh;
			top: 50%;
			.entry-title {
				@include font-size(3.36);
			}

			.entry-content {
				p {
					display: block;
				}
			}
		}
	}

	.post-password-form {
		input[type="password"] {
			width: auto;
			margin: 0;
		}

		input[type="submit"] {
			width: auto;
		}
	}
}

/**
 * >= 601px
 */

@media screen and ( min-width: 37.5625em ) {

	.hero-wrapper {
		.hero-content {
			max-height: 75vh;
			.entry-content {
				p {
					@include font-size(0.813);
				}
			}
		}
	}
}

/**
 * >= 700px
 */

 @media screen and ( min-width: 43.75em ) {

	.search-no-results .site-content .content-area,
	.site-main .comment-navigation,
	.site-main .posts-navigation,
	.site-main .post-navigation,
	#comments,
	.content-area .site-main .page-header,
	.page-content,
	.entry-wrapper,
	.error-404-widgets {
		margin-left: auto;
		margin-right: auto;
	}

	.comment-navigation,
	.posts-navigation,
	.post-navigation {
		padding-left: 0;
		padding-right: 0;

		.nav-previous {
			width: 50%;

			&:only-child {
				width: 100%;
			}
		}

		.nav-next {
			width: 50%;

			&:only-child {
				width: 100%;
			}
		}
	}

	 .entry-wrapper {
		blockquote {
			@include font-size(2);
		}
	}

	.content-area {
		.site-main {
			.page-title {
				@include font-size(2.42);
			}
		}
	}

	.hero-wrapper {
		.hero-content {
			.entry-title {
				@include font-size(4.136);
			}
		}
	}
}

/**
 * >= 828px
 */

@media screen and ( min-width: 51.755em ) {

	.hentry {
		padding-left: 0;
		padding-right: 0;
	}

	.content-area {
		.site-main {
			.page-title {
				@include font-size(2.85);
			}
		}
	}

	.entry-wrapper {
		blockquote {
			@include font-size(2.5);
		}

		.entry-header {
			.entry-title {
				@include font-size(3.187);
			}
		}

		.entry-footer {
			.entry-meta {
				.meta-links {
					.posted-on,
					.byline,
					.comments-link,
					.sticky-label {
						display: inline;
						margin-right: 2em;
						width: auto;
					}

					.edit-link {
						display: inline;
						margin-right: 0;
						width: auto;
					}
				}

				.cats-links {
					a {
						text-decoration: none;
						color: $color__text-main;
					}
				}

				.separator {
					display: inline-block;
					padding-left: 5px;
					padding-right: 5px;
				}
			}

			> * {
				display: inline-block;
			}

			.posted-on {
				a {
					border-bottom: none;
				}
			}

			.comments-link {
				a {
					border-bottom: none;
				}
			}
		}
	}

	.error404 .content-area .site-main {
		.page-title {
			@include font-size(2.167);
		}
	}
}

/**
 * >= 925px
 */

@media screen and ( min-width: 57.8125em ) {

	.scroll-indicator-wrapper {
		margin-bottom: 2.9412%;
	}

	.post {
		.entry-wrapper {
			.cat-links {
				display: block;
			}
		}
	}

	.entry-wrapper {
		.single &, body.page & {

			.entry-header {
				margin-left: -7.692em;
				margin-right: -7.692em;
			}

			.entry-content {
				margin-top: 3.846em;
			}
		}

		.post-thumbnail {
			margin-left: -7.692em;
			margin-right: -7.692em;
		}
	}

	.site-main .hentry .entry-wrapper .entry-main {
		position: relative;
		padding: 3.846em 3.846em 5.385em 3.846em;
		margin: -3.846em -3.846em 0 -3.846em;
	}

	.hentry:not(.has-post-thumbnail) .entry-wrapper .entry-main {
		margin-top: 0;
		padding-top: 0;
		background-color: transparent;
	}

	.content-area {
		.site-main {
			.page-title {
				@include font-size(3.187);
				margin-left: -1.961em;
				margin-right: -1.961em;
			}
		}
	}

	.error404 .content-area .site-main {
		.page-title {
			@include font-size(2.55);
		}
	}

	.hero-wrapper {
		.hero-content {
			.entry-title {
				@include font-size(4.136);
			}
		}
	}

	.menu-toggle {
		right: 40px;
		top: 30px;
	}

	.slide-panel {
		right: -24.625em;
		width: 24.625em;
		overflow: scroll;
		position: absolute;
		padding: 30px 0 2em;

		&.expanded,
		.single &.expanded {
			transition: visibility 350ms ease-in-out;
		}
	}

	.site {
		position: relative;
		left: 0;
	}

	.slide-panel-open {
		background-color: transparent;
		transition: none;
		transition-delay: none;

		.menu-toggle {
			margin-right: 0;
			outline: none;
		}

		.site {
			left: -320px;
		}
	}

	.slide-panel-open .body-wrapper {
		overflow: visible;
	}
}

/**
 * >= 1088px
 */

@media screen and ( min-width: 68em ) {

	.entry-wrapper {
		.entry-header {
			.entry-title {
				@include font-size(3.750);
			}
		}

		blockquote {
			margin-left: -4.675em;
			margin-right: -4.675em;
		}

		.wp-caption {
			&.alignleft, &.alignright {
				max-width: 30.1536em;
			}

			&.alignleft {
				margin-right: 3em;
				margin-left: -14.453em;
			}

			&.alignright {
				margin-left: 3em;
				margin-right: -14.453em;
			}

			&.size-big,
			&.size-large,
			&.caption-big {
				margin-left: -14.453em;
				margin-right: -14.453em;
				max-width: calc( 14.453em * 2 + 100% );
				width: calc( 14.453em * 2 + 100% );
			}
		}

		img {
			&.alignleft, &.alignright {
				max-width: 30.1536em;
			}

			&.alignleft {
				margin-right: 3em;
				margin-left: -14.453em;
			}

			&.alignright {
				margin-left: 3em;
				margin-right: -14.453em;
			}

			&.size-big,
			&.size-large,
			&.caption-big {
				margin-left: -14.453em;
				margin-right: -14.453em;
				max-width: calc( 14.453em * 2 + 100% );
				width: calc( 14.453em * 2 + 100% );
			}
		}

		.wp-caption,
		.gallery {
			img {
				&.alignleft, &.alignright {
					max-width: 100%;
				}

				&.alignleft {
					margin-right: 0;
					margin-left: 0;
				}

				&.alignright {
					margin-left: 0;
					margin-right: 0;
				}

				&.size-big,
				&.size-large,
				&.caption-big {
					margin-left: 0;
					margin-right: 0;
					max-width: 100%;
					width: 100%;
				}
			}
		}
	}

	.content-area {
		.site-main {
			.page-title {
				@include font-size(3.75);
				margin-left: -1.667em;
				margin-right: -1.667em;
			}
		}
	}

	.error404 .content-area .site-main {
		.page-title {
			@include font-size(3);
		}

		.page-content {
			margin-top: 3.846em;
		}
	}

	.hero-wrapper {
		.hero-content {
			.entry-title {
				@include font-size(4.864);
			}
		}
	}
}


/**
 * >= 1216px
 */

@media screen and (min-width: 76em) {

	.entry-wrapper {
		blockquote {
			margin-left: -5.250em;
			margin-right: -5.250em;
		}

		.wp-caption {
			&.alignleft,
			&.alignright {
				max-width: 37.692em;
			}

			&.alignleft {
				margin-left: -16.154em;
				margin-right: 3em;
			}

			&.alignright {
				margin-left: 3em;
				margin-right: -16.154em;
			}

			&.size-big,
			&.size-large,
			&.caption-big {
				margin-left: -16.154em;
				margin-right: -16.154em;
				max-width: calc( 16.154em * 2 + 100% );
				width: calc( 16.154em * 2 + 100% );
			}
		}

		img {
			&.alignleft,
			&.alignright {
				max-width: 37.692em;
			}

			&.alignleft {
				margin-left: -16.154em;
				margin-right: 3em;
			}

			&.alignright {
				margin-right: -16.154em;
				margin-left: 3em;
			}

			&.size-big,
			&.size-large,
			&.caption-big {
				margin-left: -16.154em;
				margin-right: -16.154em;
				max-width: calc( 16.154em * 2 + 100% );
				width: calc( 16.154em * 2 + 100% );
			}
		}
	}

	.error404 .content-area .site-main {
		.page-content {
			margin-top: 5em;
		}
	}

	.hero-wrapper {
		.hero-content {
			.entry-title {
				@include font-size(5.437);
			}
		}
	}
}

/**
 * >= 1440px
 */

@media screen and (min-width: 90em) {

	.hero-wrapper {
		.hero-content {
			.entry-title {
				@include font-size(6.438);
			}
		}
	}
}
