.search-no-results {
	.site-content {
		.content-area {
			.page-header {
				.page-title {
					h1 {
						margin-left: 0;
						margin-right: 0;
					}
				}
			}

			.page-content {
				.widget {
					display: none;
				}
			}
		}
	}
}
