.search-no-results {
	.site-content {
		.content-area {
			max-width: $size_site-entry;
			margin: 0 auto;
			
			.page-header {
				.page-title {
					h1 {
					}
				}
			}
			
			.page-content {
				.widget {
					display: none;
				}
			}
			
			.no-results {
				.page-header {
					.page-title {
					}
				}
			}
		}
	}
}
