.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.page {
	.has-hero-thumbnail {
		.hero-content {
			margin-bottom: 3.077em;
		}
	}
}

.content-area {
	.site-main {
		.page-title {
			position: relative;
			text-align: center;
		}
	}
}