.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.page {
	.has-hero-thumbnail {
		.hero-content {
			margin-bottom: 40px;
		}
	}

	.site-content {
		@media screen and (max-width: #{$breakpoint_tablet}) {
			padding: 0 5px;
		}
	}
}

#page {
	@media screen and (max-width: #{$breakpoint_tablet}) {
		overflow: hidden;
	}
}

.content-area {
	.site-main {
		.page-title {
			position: relative;
			max-width: $size_site-entry;
			margin: 0 auto;
		}
	}
}

.no-hero-thumbnail {
	.site-branding {
		.site-title {
			a {
				color: $color__title;
			}
		}
	}
}

.blog .site-main {
	text-align: center;
}
