.sticky {
	display: block;

	.hero-wrapper .hero-content .entry-title {
		color: $color__contrast;
	}
}

.byline,
.updated:not(.published) {
	display: none;
}

.intro {
	color: $color__title;
	@include font-size(1);
	line-height: 1.75;
	margin-bottom: 1.563em;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.single {
	.hentry {
		background-color: transparent;
	}

	&:not(.has-hero-thumbnail) {
		.hentry {
			padding-top: 0;
		}
	}

	.post {
		.entry-wrapper {
			.entry-footer {
				margin-bottom: 3.846em;

				.tags-links {
					float: right;
				}
			}
		}
	}
}

.hfeed {
	.hentry {
		background-color: $color__background-post;
		padding-top: 6.154em;

		&:nth-of-type(odd) {
			background-color: $color__background-body;

			.entry-main {
				background-color: $color__background-body;

				&:after {
					background-color: $color__background-post;
				}
			}
		}

		&:nth-of-type(even) {
			.entry-wrapper blockquote {
				background-image: linear-gradient($color__background-post 70%, transparent 70%, transparent);
			}
		}

		&:last-of-type {
			.entry-main:after {
				display: none;
			}
		}

		.entry-content,
		.entry-summary {
			text-align: center;
		}
	}
}

.hentry {
	&:not(.has-post-thumbnail) .entry-wrapper .entry-header .entry-title {
		margin-bottom: 0.667em;
	}

	&.has-post-thumbnail .entry-wrapper .entry-main {
		margin-top: 2.462em;
	}
}

.entry-wrapper {
	position: relative;

	body:not(.hfeed) & {
		margin-bottom: 3.077em;
		margin-top: 3.077em;
	}

	p {
		margin-bottom: 3.077em;
		margin-top: 0;
	}

	.entry-header {
		.entry-title {
			font-family: $font__code;
			@include font-size(2.5);
			line-height: 1;
			margin-bottom: 0;
			margin-top: 0;
			overflow: visible;
			padding-bottom: 0;
			position: relative;
			text-align: center;

			.header-content & {
				position: relative;
			}

			a {
				border: none;
				color: $color__title;
			}
		}
	}

	.post-thumbnail {
		margin-top: 0px;
		text-align: center;
		a {
			border: none;
			display: block;
		}
	}

	.edit-link {
		clear: right;
		display: inline-block;
		float: right;
		line-height: 2;
	}

	.entry-main {
		background-color: $color__background-post;
		margin: 0;
		padding: 0 0 5.385em 0;
		position: relative;

		.hentry:not(.has-post-thumbnail) & {
			background-color: transparent;
			margin-top: 0;
		}

		.search-results .hentry:not(.has-post-thumbnail) & {
			margin-top: 0;
		}

		.search-results .site-main .hentry & {
			padding-bottom: 3.846em;
		}

		&:after {
			background: url(assets/images/leaf.png) center center no-repeat;
			background-color: $color__background-body;
			border-radius: 50%;
			bottom: -30px;
			content: ' ';
			height: 60px;
			left: 50%;
			position: absolute;
			transform: translateX(-50%);
			width: 60px;
		}

		.read-more {
			text-align: center;

			.more-link {
				background: url(assets/images/more-bg.png);
				background-size: cover;
				border-bottom: none;
				color: $color__link;
				display: inline-block;
				@include font-size(0.688);
				line-height: 5.636;
				margin: 0 auto 4.545em;
				text-transform: uppercase;
				width: 13.455em;
			}
		}
	}

	.entry-footer {
		@include clearfix();
		width: 100%;

		span {
			display: block;
			width: 100%;
		}

		.tags-links,
		.comments-link {
			line-height: 2;
			margin-bottom: 0.231em;
		}

		.byline {
			display: inline-block;

			.author {
				display: inline-block;
				width: auto;
			}
		}

		.entry-meta {
			.cat-links,
			.posted-on,
			.byline {
				display: block;
				line-height: 2;
				margin-bottom: 0.231em;
			}

			.has-hero-thumbnail .header-content & {
				display: none;
			}

			.separator {
				display: none;
			}
		}
	}

	.entry-author {
		background-color: rgba(0, 0, 0, 0.03);
		border-top: 3px solid $color__accent;
		overflow: hidden;
		padding: 1.538em 2em 2em;

		.avatar {
			float: left;
			border-radius: 100%;
			margin: 0.769em 2em 2em 0;
		}
	}

	.author-heading {
		clear: none;
		margin: 0;
	}

	.author-title {
		clear: none;
		@include font-size(1.250);
		margin: 0;
		text-align: left;
	}

	.author-bio {
		@include font-size(0.750);
		margin-bottom: 0;
		overflow: hidden;
	}

	.author-description {
		@extend %hyphening;

		> :last-child {
			margin-bottom: 0;
		}
	}

	.author-link {
		white-space: nowrap;
	}

	blockquote {
		background-color: $color__accent;
		background-image: linear-gradient($color__background-body 70%, transparent 70%, transparent);
		background-size: 1.250em 1.406em;
		box-decoration-break: clone;
		box-sizing: content-box;
		color: $color__title;
		display: inline-block;
		float: left;
		font-family: $font__code-secondary;
		@include font-size(2);
		line-height: 1.406;
		margin-bottom: 1.406em;
		margin-left: 0;
		margin-right: 0;
		position: relative;
		text-align: center;

		@extend %hyphening;

		blockquote {
			margin-bottom: 0;
			margin-left: 1em;
			margin-right: 1em;
		}

		* {
			width: auto;
		}

		p {
			margin: 0;
		}
	}
}

.content-area,
.full-width-widget-area {
	margin-bottom: 6.154em;
}

.custom-background {
	.hentry {
		background-color: transparent;

		&:nth-of-type(odd) {
			background-color: transparent;

			.entry-main {
				&:after {
					background-color: transparent;
				}
			}
		}
	}

	.entry-wrapper {
		.entry-main {
			&:after {
				background-color: transparent;
			}
		}
	}
}