.intro {
	color: $color__title;
	@include font-size(1);
	line-height: 1.75;
	margin-bottom: 1.563em;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single {
	.hentry {
		background-color: transparent;
	}

	&:not(.has-entry-featured-background-thumbnail) {
		.hentry {
			padding-top: 0;
		}
	}

	.post {
		.entry-wrapper {
			.entry-footer {
				margin-bottom: 3.846em;

				.edit-link {
					margin-left: 0;
				}
			}
		}
	}
}

.hfeed {
	.hentry {
		background-color: $color__background-post;
		padding-top: 6.154em;

		&:nth-of-type(odd) {
			background-color: $color__background-body;

			.entry-main {
				background-color: $color__background-body;

				&:after {
					background-color: $color__background-post;
				}
			}
		}
	}
}

.hentry {
	&:not(.has-post-thumbnail) .entry-wrapper .entry-header .entry-title {
		margin-bottom: 0.667em;
	}

	&.has-post-thumbnail .entry-wrapper .entry-main {
		margin-top: 2.462em;
	}

	&:last-of-type {
		.entry-main {
			&:after,
			.leaf {
				display: none;
			}
		}
	}
}

.entry-wrapper {
	position: relative;

	body:not(.hfeed) & {
		margin-bottom: 3.077em;
		margin-top: 3.077em;
	}

	.entry-content {
		margin-bottom: 3.077em;
	}

	p {
		margin-bottom: 3.077em;
		margin-top: 0;

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	.entry-header {
		.entry-title {
			font-family: $font__code;
			@include font-size(2.5);
			line-height: 1;
			margin-bottom: 0;
			margin-top: 0;
			overflow: visible;
			padding-bottom: 0;
			position: relative;
			text-align: center;
			word-break: break-word;
			word-wrap: break-word;

			.header-content & {
				position: relative;
			}

			a {
				border: none;
				color: $color__title;

				&:hover {
					color: lighten( $color__title, 8% );
				}
			}
		}
	}

	.post-thumbnail {
		margin-top: 0px;
		text-align: center;

		a {
			border: none;
			display: block;
		}

		img {
			display: block;
			margin: 0 auto;
		}
	}

	.entry-main {
		background-color: $color__background-post;
		margin: 0;
		padding: 0 0 5.385em 0;
		position: relative;

		.hentry:not(.has-post-thumbnail) & {
			background-color: transparent;
			margin-top: 0;
		}

		.search-results .hentry:not(.has-post-thumbnail) & {
			margin-top: 0;
		}

		.search-results .site-main .hentry & {
			padding-bottom: 3.846em;
		}

		&:after {
			background: $color__background-body;
			border-radius: 50%;
			bottom: -30px;
			content: ' ';
			height: 60px;
			left: 50%;
			position: absolute;
			transform: translateX(-50%);
			width: 60px;
		}

		.leaf {
			bottom: -24px;
			left: 50%;
			margin-left: -7px;
			position: absolute;
			z-index: 1;

			svg {
				height: 30px;
				width: 15px;
				fill: currentcolor;
			}
		}

		.read-more {
			text-align: center;

			.more-link {
				background: $color__title none repeat scroll 0 0;
				border: 4px solid lighten( $color__title, 8% );
				border-radius: 5em;
				color: $color__light;
				display: inline-block;
				@include font-size(0.688);
				letter-spacing: 1px;
				line-height: 1.818;
				margin: 2.727em auto 0;
				padding: 0.545em 1.545em;
				position: relative;
				text-transform: uppercase;

				&:hover,
				&:active,
				&:focus {
					color: $color__accent;
					background: lighten( $color__title, 8% );
				}
			}
		}
	}

	.entry-footer {
		@include clearfix();
		width: 100%;

		.byline {
			display: inline-block;

			.author {
				display: inline-block;
				width: auto;
			}
		}

		.entry-meta {
			margin-right: 1em;
			width: 100%;

			.taxonomies-links {
				.cats-links,
				.tags-links {
					display: block;
					line-height: 2.308;
					width: 100%;
				}
			}

			.meta-links {
				.posted-on,
				.byline,
				.comments-link,
				.edit-link,
				.sticky-label {
					display: block;
					line-height: 2;
					line-height: 2.308;
					width: 100%;
				}
			}

			.has-entry-featured-background-thumbnail .header-content & {
				display: none;
			}

			.separator {
				display: none;
			}
		}
	}

	.entry-author {
		background-color: rgba(0, 0, 0, 0.03);
		border-top: 4px solid $color__accent;
		overflow: hidden;
		padding: 1.538em 2em 2em;

		.avatar {
			float: left;
			border-radius: 100%;
			margin: 0.769em 2em 2em 0;
		}
	}

	.author-heading {
		clear: none;
		margin: 0;
	}

	.author-title {
		clear: none;
		@include font-size(1.250);
		margin: 0;
		text-align: left;
	}

	.author-bio {
		@include font-size(0.750);
		margin-bottom: 0;
		overflow: hidden;
	}

	.author-description {
		@extend %hyphening;

		> :last-child {
			margin-bottom: 0;
		}
	}

	blockquote {
		p,
		p:last-of-type {
			margin-bottom: 1.5em;
		}
	}
}

.content-area,
.full-width-widget-area {
	margin-bottom: 6.154em;
}

.custom-background {
	.hentry {
		background-color: transparent;

		&:nth-of-type(odd) {
			background-color: transparent;

			.entry-main {
				&:after {
					background-color: transparent;
				}
			}
		}
	}

	.entry-wrapper {
		.entry-main {
			&:after {
				background-color: transparent;
			}
		}
	}
}

.hfeed:not(.custom-background) {
	.hentry {
		&:nth-of-type(odd) {
			background-color: $color__background-body;

			.entry-main {
				background-color: $color__background-body;

				&:after {
					background-color: $color__background-post;
				}
			}
		}

		&:nth-of-type(even) {
			background-color: $color__background-post;

			.entry-main {
				background-color: $color__background-post;

				&:after {
					background-color: $color__background-body;
				}
			}
		}
	}
}

.hentry:last-of-type {
	.entry-main {
		&:after,
		.leaf {
			display: none;
		}
	}
}

.hfeed:not(.search-results):not(.archive) .hentry.has-post-thumbnail:first-of-type {
	overflow: visible;
	padding: 6.154em 0 0 0;
}
