.entry-title {
	font-family: $font__code;
}

.sticky {
	display: block;
	.hero-wrapper .hero-content .entry-title {
		color: $color__contrast;
	}
}

.byline,
.updated:not(.published){
	display: none;
}

.intro {
	@include font-size(1);
	line-height: 1.75;
	margin-bottom: 1.563em;
	color: $color__title;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.single-post {
	.post-navigation {
		display: none;
	}
}

.single {
	&.has-hero-thumbnail, &:not(.has-hero-thumbnail) {
		.post {
			background-color: transparent;
		}
	}
	
	&.has-hero-thumbnail {
		.post {
			.entry-wrapper {
				padding-top: 6.154em;
			}
		}
	}
	
	&:not(.has-hero-thumbnail) {
		.post {
			padding-top: 0;
		}
	}
	
	.post {
		.entry-wrapper {			
			.entry-footer {
				.tags-links {
					float: right;
				}
			}
		}
	}
}

article.post:nth-of-type(odd) {
	background-color: $color__background-body;

	.entry-main {
		background-color: $color__background-body;
		
		&:after {
			background-color: $color__background-post;
		}
	}
}

article.post:last-of-type {
	.entry-main:after {
		display: none;
	}
}

.post {
	padding-top: 6.154em;
	background-color: $color__background-post;
}

.entry-wrapper {
	position: relative;
	
	body:not(.has-hero-thumbnail) & {
		margin-top: 3.5em;
	}
	
	.single &, .page & {
		margin-bottom: 6.154em;
		.entry-header {
			margin-left: -7.692em;
			margin-right: -7.692em;
			margin-bottom: 5em;
		}
	}

	h1, h2 {
		&, a {
			text-align: center;
		}
	}
	
	p {
		margin-top: 0;
		margin-bottom: 3.077em;
	}

	.entry-header {
		.entry-title {
			@include font-size(4.615);
			padding-bottom: 0;
			position: relative;
			line-height: 1.2;
			margin-bottom: 0;
			overflow: visible;
			margin-top: 0;
			
			.header-content & {
				position: relative;
			}
							
			a {
				border: none;
				color: $color__title;	
			}	
		}
	}
	
	blockquote {
		font-family: $font__code-secondary;
		@include font-size(2.813);
		text-align: center;
		line-height: 1.378em;
		color: $color__title;
		margin-left: -5em;
		margin-right: -5em;
		margin-bottom: 1.111em;
		position: relative;
		box-sizing: content-box;
		display: inline-block;
		@extend %hyphening;
		float: left;
		
		background-size: 50px 62px;
		background-color: $color__accent;
		background-image: -webkit-linear-gradient(rgba(255, 255, 255, 1) 70%, transparent 70%, transparent);
		background-image: -moz-linear-gradient(rgba(255, 255, 255, 1) 70%, transparent 70%, transparent);
		background-image: linear-gradient(rgba(255, 255, 255, 1) 70%, transparent 70%, transparent);
		
		-webkit-box-decoration-break: clone;
		-ms-box-decoration-break: clone;
		-o-box-decoration-break: clone;
		box-decoration-break: clone;
		
		* {
			width: auto;
		}
		
		p {
			margin: 0;
		}
	}

	.post-thumbnail {
		margin-left: -7.692em;
		margin-right: -7.692em;
		margin-top: 0px;
		text-align: center;
		a {
			border: none;
		}
	}
	
	.edit-link {
		float: right;
		display: inline-block;
		clear: right;
	}
	
	.entry-footer {
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin-top: 1.538em;

		.entry-meta {
			.has-hero-thumbnail .header-content & {
				display: none;
			}
		
			.post-meta-categories {
				display: inline-block;
		
				&::after {
					content: " - ";
					color: $color__contrast;
				}
				
				@media screen and (max-width: #{$breakpoint_mobile}) {
					display: block;
				}

				a {
					text-decoration: none;
					color: $color__text-main;
				}
			}
		}
		
		> * {
			display: inline-block;
		}

		.posted-on {
			a {
				border-bottom: none;
			}
		}

		.separator {
			padding-left: 5px;
			padding-right: 5px;
			@media screen and (max-width: #{$breakpoint_mobile}) {
				display: none;
			}
		}

		.comments-link {
			flex-basis: fit-content;
			a {
				border-bottom: none;
			}
		}
	}

	// Main post wrapper	
	.entry-main {
		position: relative;
		background-color: $color__background-post;
		padding: 3.846em 3.846em 5.385em 3.846em;
		margin: -3.846em -3.846em 0 -3.846em;
		
		.post:not(.has-post-thumbnail) & {
			margin-top: 0;
			background-color: transparent;
		}

		&:after {
			content: ' ';
			position: absolute;
			bottom: -30px;
			left: 50%;
			transform: translateX(-50%);
			width: 60px;
			height: 60px;
			border-radius: 50%;
			background: url(assets/images/leaf.png) center center no-repeat;
			background-color: $color__background-body;
		}

		.more-link {
			width: 105px;
			text-align: center;
			margin: 1em auto 2.692em;
			display: block;
			line-height: 44px;
			border-bottom: none;
			color: $color__link;
			background: url(assets/images/more-bg.png);
			background-size: cover;
		}
	}
}

.home, .archive {
	.entry-footer .cat-links {
		display: none;
	}
}

.content-area, .full-width-widget-area {
	margin-bottom: 6.154em;
}