.search-results {
	.content-area {
		.entry-featured-background-categories {
			display: inline-block;
		}

		.entry-title{
			a {
				border-bottom: 0;
			}
		}

		article {
			.entry-footer {
				display: none;
			}
		}
	}
}
