
/* General */
html {
	font-size: percentage($font__size-main / 16px);
	line-height: $font__line-height-main / $font__size-main;
}

body {
	font-family: $font__code-tertiary;
	color: $color__text-input;
}

%hyphening {
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

/* Links */

a {
	text-decoration: none;
	color: currentColor;
	border-bottom: 3px solid $color__text-accent;
	transition: all 0.2s;
}

/* Headings */

h1, %h1, h2, %h2, h3, %h3, h4, %h4, h5, %h5, h6 {
	color: $color__text-screen;
	font-weight: bold;
	text-align: center;
	font-family: $font__code;
}


h1 {
	font-size: 60px;
	text-align: center;
	color: $color__text-screen;
	margin-bottom: 50px;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 16px;
	margin-bottom: 30px;
}

h4 {
	font-size: 13px;
}

h2, h4 {
	margin-bottom: 20px;
}

/* Paragraphs */

p {
	margin-top: 0;
	margin-bottom: 40px;
	//@extend %hyphening;
}

b,
strong {
	font-weight: 800;
	color: $color__text-input-focus;
}

/* Lists */

ul {
	list-style: none;
	padding-left: 40px;
}

ol {
	padding-left: 30px;
}

ul, ol {
	margin-bottom: 40px;
}

ul li:before {
	//content: "•";
	font-size: 60%;
	padding-right: 10px;
}

li {
	font-size: 13px;
	line-height: 2.692;
}

/* Caption */

.wp-caption-text, .gallery-caption {
	padding-top: 10px;
	color: $color__text-caption;
	text-align: center;
}

/* Comments */

.comment-author.vcard a {
	border-bottom: 3px solid $color__text-accent;
}

.comment-metadata a {
	border-bottom: none;
}

/* Navigation */

.title {
	font-family: $font__code;
}

.sub-title {
	font-family: $font__code-secondary;
}

.title, .sub-title {
	display: block;
	clear: right;
	line-height: 1;	
}