$color__accent: #68f3c8;
$color__contrast: #f7f7f7;
$color__light: #fff;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: $color__contrast;
$color__background-pre: #f7f7f7;
$color__background-ins: $color__accent;
$color__background-post: #f7f7f7;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #0e364f;
$color__text-caption: #7c868b;
$color__link: #45525a;
$color__link-visited: $color__link;
$color__link-hover: $color__link;

$color__title: #0e364f;
$color__text-main: #45525a;
$color__text-button: #666;

$color__border-button: $color__accent;
$color__border-button-hover: $color__text-main;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__background-sliding-panel: $color__title;
$color__background-sliding-panel-link: #fff;

$color__background-hero: $color__title;