$font__main: "Droid Sans Mono", serif;
$font__code: "Droid Serif", serif;
$font__code-secondary: "Permanent Marker", cursive;
$font__code-tertiary: $font__main;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

// High-level base settings
$font__size-main: 13px;
$font__line-height-main: 24px;
$gutter: 30px;
