.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	@include center-block;
}

// Google Maps breaks if `max-width: 100%` acts upon it; use their selector
// .gm-style img {
//     max-width: none;
// }

.aligncenter,
.alignnone,
.alignleft,
.alignright {
	display: block;
	margin: 0;
	margin-bottom: rhythm(0.8);

	@media screen and (max-width: #{$breakpoint_tablet}) {
		margin-bottom: rhythm(0.6);
	}

	.archive-grid & {
		margin-bottom: 0;
	}

	.widget &, .blog &, .archive &, .search & {
		margin: 0;
	}
}

.aligncenter, .alignnone {
	@media screen and (min-width: #{$breakpoint_laptop}) {
		margin-left: -7 * $gutter;
		margin-right: -7 * $gutter;
		max-width: calc(#{14 * $gutter} + 100%);
	}

	text-align: center;
	display: inline-block;

	img {
		margin: 0 auto;
	}
}

.alignleft, .alignright {
	margin-top: rhythm(1);
	
	@media screen and (min-width: #{$breakpoint_laptop}) {
		max-width: calc(50% + #{7 * $gutter} - 20px);
	}
	
	p + & {
		margin-top: 0;
	}
	
	p > &:first-child, p > :first-child > &:first-child {
		margin-top: 0; 
	}
}

.alignleft {
	float: left;
	margin-right: rhythm(1.5);
	
	@media screen and (max-width: #{$breakpoint_mobile}) {
		float: none;
		margin: 0 auto !important;
	}
	
	
	@media screen and (min-width: #{$breakpoint_laptop}) {
		margin-left: -7 * $gutter;
	}
}

.alignright {
	float: right;
	margin-left: rhythm(1.5);
	
	@media screen and (max-width: #{$breakpoint_mobile}) {
		float: none;
		margin: 0 auto !important;
	}
	
	@media screen and (min-width: #{$breakpoint_laptop}) {
		margin-right: -7 * $gutter;
	}
}


@media screen and (max-width: #{$breakpoint_tablet}) {
	.alignleft {
		margin-right: rhythm(0.7);
	}
	
	.alignright {
		margin-left: rhythm(0.7);
	}
}

figure {
	max-width: 100%;
	
	img {
		display: block;
	}
}
