.alignleft {
	display: inline;
	float: left;
	margin-bottom: 1.538em;
	margin-right: 1.538em;
}

.alignright {
	display: inline;
	float: right;
	margin-bottom: 1.538em;
	margin-left: 1.538em;
}

.aligncenter {
	@include center-block;
	clear: both;
}
