button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	border: none;
	border-color: $color__border-button;
	background: $color__background-button;
	box-shadow: none;
	color: $color__text-button;
	@include font-size(1);
	letter-spacing: 1px;
	line-height: 1;
	padding: 0.692em 1em;
	text-shadow: none;
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.3s;

	&:hover {
		border-color: $color__border-button-hover;
		box-shadow: none;
		background: lighten( $color__background-button, 5% );
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
		box-shadow: none;
		color: $color__link-hover;
	}
}

/*--------------------------------------------------------------
# Search
--------------------------------------------------------------*/
input.search-submit {
	width: 105px;
	text-align: center;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	line-height: 44px;
	border-bottom: none;
	color: $color__link;
	background: url(assets/images/more-bg.png);
	background-size: cover;
	padding: 0;
	text-transform: none;
}
