button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	background: transparent none repeat scroll 0 0;
	border: 3px solid lighten( $color__title, 8% );
	border-radius: 5em;
	color: lighten( $color__title, 8% );
	display: inline-block;
	@include font-size(0.688);
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 1.818;
	padding: 0.818em 1.818em;
	position: relative;
	text-transform: uppercase;
	outline: 1px solid transparent;

	&:hover,
	&:active,
	&:focus {
		background: lighten( $color__title, 8% ) none repeat scroll 0 0;
		color: $color__accent;
		font-weight: 300;
	}

	&:hover {

	}

	&:active,
	&:focus {
		outline: 1px solid currentColor;
	}
}