.posted-on,
.byline,
.cats-links,
.tags-links,
.comments-link,
.edit-link,
.menu-toggle,
.showsub-toggle,
.sticky-label,
.post-author {
	svg {
		fill: currentcolor;
		font-size: 16px;
		height: 16px;
		vertical-align: middle;
		width: 16px;
	}
}

.cats-links svg {
	margin-right: 4px;
	margin-top: -3px;
}

.tags-links svg {
	margin-right: 4px;
	margin-top: -2px;
}

.posted-on svg {
	margin-right: 5px;
	margin-top: -2px;
}

.byline svg {
	margin-right: 5px;
	margin-top: -2px;
}

.comments-link svg {
	margin-right: 5px;
	margin-top: -3px;
}

.edit-link svg {
	margin-right: 5px;
	margin-top: -2px;
}

.sticky-label svg {
	margin-right: 3px;
	margin-top: -3px;
}

.hero-wrapper .cats-links svg {
	display: none;
}

.menu-toggle {
	svg {
		height: 16px;
		width: 16px;
	}
	.menu-toggle-icon-close svg {
		display: none;
	}

	&.toggle-on {
		.menu-toggle-icon svg {
			display: none;
		}

		.menu-toggle-icon-close svg {
			display: block;
		}
	}
}

.showsub-toggle {
	use  {
		transform-origin: 50% 50%;
		transform: rotate(0deg);
		transition: all 0 ease-in-out;
		display: block;
	}

	&.sub-on use  {
		transform: rotate(180deg);
	}
}
