/**
 * Genericons
 */
 .cat-links,
.posted-on,
.byline,
.tags-links,
.comments-link,
.edit-link,
.menu-toggle,
.showsub-toggle {
	svg {
		width: 16px;
		font-size: 16px;
		height: auto;
		vertical-align: middle;
		width: 16px;
		path {
			fill: currentcolor;
			height: 32px;
			width: 32px;
		}
	}
}

.cat-links svg {
	margin-top: -3px;
	margin-right: 4px;
}

.posted-on svg {
	margin-top: -2px;
	margin-right: 5px;
}

.byline svg {
	margin-top: -2px;
	margin-right: 5px;
}

.tags-links svg {
	margin-top: -2px;
	margin-right: 4px;
}

.comments-link svg {
	margin-top: -3px;
	margin-right: 5px;
}

.edit-link svg {
	margin-top: -2px;
	margin-right: 5px;
}

.hero-wrapper .post-meta-categories svg {
	display: none;
}

.menu-toggle svg {
	display: block;
	margin: 0 auto;
	path {
		height: 54px;
		width: 54px;
	}
}

.menu-toggle.toggle-on .menu-toggle-icon svg {
	display: none;
}

.menu-toggle.toggle-on .menu-toggle-icon-close svg {
	display: block;
}

.menu-toggle .menu-toggle-icon-close svg {
	display: none;
}

.showsub-toggle.sub-on svg  {
	transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
}

.showsub-toggle svg  {
	@include transition(all 0 ease-in-out);
	transform:rotate(0deg);
	transform-origin:50% 50%;
	-ms-transform:rotate(0deg);
	-ms-transform-origin:50% 50%;
	-webkit-transform:rotate(0deg);
	-webkit-transform-origin:50% 50%;
}
