/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/* Click-to-load */
#infinite-handle {
	clear: both;
	margin: 0 7.6923%;
	padding: 6.154em 0 3.077em;
	text-align: center;
	line-height: 1;
	text-transform: uppercase;
	transition: 0.3s;

	span {
		text-transform: uppercase;
		background: $color__background-button;
		color: $color__light;
		padding: 0.692em 1em;


		&:hover, &:focus {
			background: lighten( $color__background-button, 5% );
			outline: 1px solid transparent;
		}

	}
}

/* Spinner */
.infinite-loader {
	clear: both;
	padding: 6.154em 0 3.077em;
	margin: 0 7.6923%;
	.spinner {
		top: 50% !important;
		left: 50% !important;
	}
}

#infinite-footer {
	a {
		color: $color__link;

		&:hover,
		&:active {
			outline: 0;
		}
	}

	.blog-info a {
		font-weight: 700;
		@include font-size(.875);
		font-family: $font__main;

		&:hover,
		&:active {
			outline: 0;
		}
	}
}

.infinity-success .hentry:last-of-type .entry-main:after {
	display: block;
}

.infinity-success .infinite-wrap.last .hentry:last-of-type .entry-main:after {
	display: none;
}

.hfeed:not(.custom-background) {
	.infinite-wrap {
		&.odd {
			.hentry {
				&:nth-of-type(odd) {
					background-color: $color__background-body;

					.entry-main {
						background-color: $color__background-body;

						&:after {
							background-color: $color__background-post;
						}
					}
				}

				&:nth-of-type(even) {
					background-color: $color__background-post;

					.entry-main {
						background-color: $color__background-post;

						&:after {
							background-color: $color__background-body;
						}
					}
				}
			}
		}

		&.even {
			.hentry {
				&:nth-of-type(even) {
					background-color: $color__background-body;

					.entry-main {
						background-color: $color__background-body;

						&:after {
							background-color: $color__background-post;
						}
					}
				}

				&:nth-of-type(odd) {
					background-color: $color__background-post;

					.entry-main {
						background-color: $color__background-post;

						&:after {
							background-color: $color__background-body;
						}
					}

					.entry-wrapper blockquote {
						background-image: linear-gradient(rgba(247, 247, 247, 1) 70%, transparent 70%, transparent);
					}
				}
			}
		}
	}
}

.hfeed:not(.search-results):not(.archive) .infinite-wrap .hentry.has-post-thumbnail:first-of-type {
	padding: 6.154em 0 0 0;
	overflow: visible;
}