/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/* Click-to-load */
.infinite-scroll #infinite-handle {
	clear: both;
	line-height: 1;
	margin: 0 7.6923%;
	padding: 6.154em 0 3.077em;
	text-align: center;
	text-transform: uppercase;

	span {
		background: transparent none repeat scroll 0 0;
		border: none;
		border-radius: 5em;
		color: lighten( $color__title, 8% );
		display: inline-block;
		@include font-size(0.688);
		font-weight: 700;
		letter-spacing: 1px;
		margin: 2.727em auto 0;
		position: relative;
		text-transform: uppercase;

		&:before {
			border-radius: 5em;
			border: 3px solid lighten( $color__title, 8% );
			content: '';
			display: block;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}

		&:hover,
		&:active,
		&:focus {
			background: lighten( $color__title, 8% ) none repeat scroll 0 0;
			color: $color__accent;
			font-weight: 300;
		}

		button {
			@include font-size(0.688);
			line-height: 1.818;
			padding: 0.545em 1.091em;
			text-transform: uppercase;
		}
	}
}

/* Spinner */
.infinite-loader {
	clear: both;
	margin: 0 7.6923%;
	padding: 6.154em 0 3.077em;

	.spinner {
		left: 50% !important;
		top: 50% !important;
	}
}

#infinite-footer {
	a {
		color: $color__link;

		&:hover,
		&:active {
			outline: 0;
		}
	}

	.blog-info a {
		font-family: $font__main;
		@include font-size(.875);
		font-weight: 700;

		&:hover,
		&:active {
			outline: 0;
		}
	}
}
