a {
	border-bottom: 3px solid $color__accent;
	color: $color__link;
	text-decoration: none;

	&:visited {
		color: $color__link-visited;
	}

	&:hover {
		color: lighten( $color__text-main, 10% );
		border-color: lighten( $color__accent, 8% );
	}

	&:active,
	&:focus {
		color: lighten( $color__text-main, 15% );
		border-color: lighten( $color__accent, 5% );
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}

.entry-content a,
.entry-summary a {
	word-break: break-word;
	word-wrap: break-word;
}
