a {
	border-bottom: 3px solid $color__accent;
	color: $color__link;
	text-decoration: none;

	&:visited {
		color: $color__link-visited;
	}

	&:hover,
	&:active,
	&:focus {
		border-color: currentColor;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}

.entry-content a,
.entry-summary a {
	word-break: break-word;
	word-wrap: break-word;
}
