ul, ol {
	margin: 0 0 .769em 1.538em;
}

ul {
	list-style: none;
	padding-left: 1.538em;

	li:before {
		content: '\002022';
		color: $color__accent;
		font-size: font-size(1);
	    padding-right: .538em;
	}
}

ol {
	list-style: none;
	counter-reset: li;
	padding-left: 1.538em;

	li {
		counter-increment: li;

		&:before {
			content: counter(li);
			color: $color__accent;
		    padding-right: .538em;
		    vertical-align: bottom;
		}

	}
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: .769em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.538em 1.538em;
}
