ul, ol {
	margin: 0 0 40px 0;
}

ul {
	list-style: none;
	padding-left: 40px;
	
	li:before {
		font-size: 60%;
		padding-right: 10px;
	}
}

li {
	font-size: $font__size-main;
	line-height: $font__line-height-main;
}

ol {
	list-style: decimal;
	padding-left: 30px;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}