img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

figure {
	max-width: 100%;
	img {
		display: block;
	}
}

.wp-caption {
	margin-bottom: 1.6em;
	max-width: 100%;
	
	img[class*="wp-image-"] {
		@include center-block;
	}

	.wp-caption-text, .gallery-caption {
		@include font-size(.875);
		color: $color__text-caption;
		text-align: center;
		margin: 0.8075em 0;
		a {
			color: $color__text-caption;
		}
	}
	
	&.aligncenter {
		margin-left: auto;
		margin-right: auto;
	}

	/* Give some margin to floated elements, to prevent them butting up against text. */
	
	&.aligncenter,
	&.alignnone,
	&.alignleft,
	&.alignright {
		display: block;
		margin: 0;
		margin-bottom: 1.2em;
		
		.archive__grid & {
			margin-bottom: 0;
		}
		
		.widget &, .blog &, .archive &, .search &{
			margin: 0;
		}
	}

	&.aligncenter, &.alignnone {
		text-align: center;
		display: inline-block;
		
		img {
			margin: 0 auto;
		}
	}
	
	&.alignleft, .alignright {
		margin-top: 2em;
		float:none;
		margin: 0 auto;
		
		p + & {
			margin-top: 0;
		}
		
		p > &:first-child,
		p > :first-child > &:first-child {
			margin-top: 0; 
		}
	}

}

.wp-caption-text {
	text-align: center;
	margin-top: 1em;
}

p {
	a[href$=".jpg"], a[href$=".jpeg"], a[href$=".png"], a[href$=".gif"] {
		border: none;
	}
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
@import "galleries";
