img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

.page-content,
.entry-content,
.comment-content {
	.wp-smiley {
		border: none;
		margin-bottom: 0;
		margin-top: 0;
		padding: 0;
	}
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object,
video {
	max-width: 100%;
	margin-bottom: 3.077em;
}

p > embed,
p > iframe,
p > object,
p > video {
	margin-bottom: 0;
}

.entry-content .mejs-container .mejs-controls .mejs-time {
	padding-top: 1em;
}

.wp-audio-shortcode,
.wp-video,
.wp-playlist.wp-audio-playlist {
	margin-top: 0;
	margin-bottom: 3.077em;
}

.wp-playlist.wp-playlist {
	padding-bottom: 0;
}

.wp-playlist .wp-playlist-tracks {
	margin-top: 0;
}

.wp-playlist-item .wp-playlist-caption {
	border-bottom: 0;
	padding: 1em 0;
}

.wp-playlist-item .wp-playlist-item-length {
	top: 1em;
}

.hentry .latex {
	margin: 0;
	max-width: 100%
}

figure {
	max-width: 100%;
	img {
		display: block;
	}
}

.wp-caption {
	margin-bottom: 1.538em;
	max-width: 100%;
	text-align: center;

	p {
		margin: 0;
	}

	img[class*="wp-image-"] {
		@include center-block;
	}

	&.aligncenter,
	&.alignnone,
	&.alignleft,
	&.alignright {
		display: block;
		margin: 0;
		margin-bottom: 1.154em;

		.widget &,
		.blog &,
		.archive &,
		.search &{
			margin: 0;
		}
	}

	&.aligncenter {
		margin-left: auto;
		margin-right: auto;
	}

	&.aligncenter,
	&.alignnone {
		display: inline-block;
		text-align: center;

		img {
			margin: 0 auto;
			width: 100%;
		}
	}

	&.alignleft,
	.alignright {
		margin: 0 auto;
		margin-top: 2em;

		p + & {
			margin-top: 0;
		}

		p > &:first-child,
		p > :first-child > &:first-child {
			margin-top: 0;
		}
	}
}

.wp-caption-text,
.gallery-caption {
	border-bottom: 2px dashed $color__accent;
	color: $color__text-caption;
	display: inline-block;
	@include font-size(0.875);
	margin: 1em 0;
	padding-bottom: 0.5em;
	text-align: center;

	a {
		color: $color__text-caption;
	}
}


p {
	a[href$=".jpg"], a[href$=".jpeg"], a[href$=".png"], a[href$=".gif"] {
		border: none;
	}
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
@import "galleries";
