@import "../components/navigation-top";

.comment-navigation,
.posts-navigation,
.post-navigation {
	font-family: $font__code;
	@include font-size(1.125);
	font-weight: 700;

	.title {
		clear: both;
		color: $color__text-caption;
		display: block;
		@include font-size(0.846);
		font-style: normal;
		text-transform: uppercase;
	}

	.site-main & {
		margin: 1.538em 0 3.077em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;

		&:only-child {
			width: 100%;
		}
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;

		&:only-child {
			width: 100%;
		}
	}

	.nav-links {
		a {
			color: $color__title;
		}
	}
}
