.site,
.slide-panel,
button,
input,
textarea,
#infinite-handle button,
#infinite-handle span,
.jp-relatedposts-post-a img,
.main-navigation ul ul a:before,
.meta-nav,
.post-navigation .post-title,
.post-thumbnail img,
.search-form:before,
.site-logo-link,
.sticky-post,
.more-link,
.entry-featured-background-title a {
	transition: 350ms all ease-in-out;
}

.slide-menu {
	transition: visibility 350ms ease-in-out;
}

a {
	transition: color 350ms ease-in-out, background-color 350ms ease-in-out, box-shadow 350ms ease-in-out, border 350ms ease-in-out;
}
