body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(.8125);
	line-height: $font__line-height-body;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $color__title;
	font-family: $font__code;
	font-weight: 700;
}

h1 {
	@include font-size(3.750);
}

h2 {
	@include font-size(2.250);
}

h3 {
	@include font-size(1.625);
}

h4 {
	@include font-size(1.125);
}

h5 {
	@include font-size(1);
}

h6 {
	@include font-size(0.846);
}

p {
	margin: 0.769em 0 1.538em;
}

b,
strong {
	font-weight: 800;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

address {
	margin: 0 0 1.538em;
}

pre {
	background: $color__background-pre;
	font-family: $font__pre;
	@include font-size(0.923);
	line-height: $font__line-height-pre;
	margin-bottom: 1.538em;
	max-width: 100%;
	overflow: auto;
	padding: 1.538em;
}

code,
kbd,
tt,
var {
	font-family: $font__code;
	@include font-size(0.923);
}

abbr,
acronym {
	border-bottom: 3px dotted $color__accent;
	cursor: help;
}

mark,
ins {
	background: $color__background-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}

blockquote {
	color: $color__title;
	font-family: $font__code-secondary;
	@include font-size(1.615);
	margin: 0 1.538em;
	text-align: center;
	@extend %hyphening;
}

blockquote,
q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

%hyphening {
	hyphens: auto;
	word-break: break-word;
}
