#comments {
	textarea {
		width: 100%;
	}

	.reply {
		float: left;
		background: $color__background-button;
		letter-spacing: 1px;
		line-height: 1;
		padding: 0.692em 1em;
		text-transform: uppercase;
		transition: 0.3s;
		@include font-size(0.692);

		a {
			color: $color__light;

			&:hover {
				border-color: $color__border-button-hover;
				color: $color__link-hover;
				border: none;
			}

			&:active,
			&:focus {
				border-color: $color__border-button-focus;
				color: $color__link-hover;
				border: none;
			}
		}
	}

	.comment-notes {
		margin-bottom: 1em;
	}

	p {
		margin: 0 0 1.538em;
	}
}

.comment-list {
	li.comment {
		position: relative;

		&.bypostauthor {
		}

		.comment-reply-title {
			margin-top: 1em;
		}

		&:before {
			content: '';
			padding-right: 0;
		}
	}
}

.comment-author.vcard a {
	border-bottom: 3px solid $color__accent;
}

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

.comments-area {
	margin: 0 0 1.538em;
}

.comments-title,
.comment-reply-title {
	margin-bottom: 0;

	#cancel-comment-reply-link {
		font-family: $font__main;
		font-weight: normal;
		@include font-size(0.688);
		float: right;
		margin-top: 4.545em;
	}
}

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

.comment-list {
	list-style: none;
	margin: 0 0 3.077em;
	padding: 0;

	.children {
		list-style: none;
	}

	.edit-link {
		display: inline;
		text-align: left;
		width: auto;
	}
}

.comment-body {
	@include clearfix;
	margin-top: 3.077em;
	width: 100%;
}

.comment-author {
	.fn {
		display: inline-block;
		font-weight: bold;
		text-transform: none;
		letter-spacing: 0;

		@include font-size(1);

		a,
		a:visited {
		}
	}

	.avatar {
		float: left;
		margin-right: 1.231em;
		border-radius: 100%;
	}
}

.comment-meta {
	a {
		text-decoration: none;
	}
}

.comment-metadata {
	color: $color__text-input;
	@include font-size(0.750);
	text-transform: lowercase;
	margin-bottom: 0.769em;

	a,
	a:visited {
		color: $color__text-input;
		display: inline-block;
		font-weight: normal;
		text-decoration: none;
		border-bottom: none;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}

	.edit-link {
		float: none;
	}

	.edit-link:before {
		content: "|";
		margin-left: 0.385em;
		margin-right: 0.769em;
	}

	a:first-of-type {
		display: inline-block;
		margin-bottom: 0.769em;
	}
}

.pingback,
.trackback {
	.edit-link {
		float: right;
	}
}

.no-comments {
	font-style: italic;
	display: block;
	text-align: center;
	width: 100%;
}

.says {
	display: none;
}

.comment-content {
	clear: both;
}

.comment-form label {
	display: inline-block;
	width: 8.385em;
}

.comment-form-author,
.comment-form-email,
.comment-form-url,
.comment-form-comment {
	margin: 0 0 1.538em;
	position: relative;

	input,
	textarea {
		clear: both;
		width: 100%;
	}

	textarea {
		padding: 0.538em 0.769em 0.308em;
	}
}
