#comments {
	textarea {
		width: 100%;
	}

	.reply {
		float: left;
		a {
			background: $color__background-button;
			border: none;
			color: $color__light;
			@include font-size(0.692);
			letter-spacing: 1px;
			line-height: 1;
			padding: 0.692em 1em;
			text-transform: uppercase;
			transition: 0.3s;

			&:hover {
				background: lighten( $color__background-button, 5% );
				border: none;
			}

			&:active,
			&:focus {
				border-color: $color__border-button-focus;
				border: none;
				color: $color__link-hover;
			}
		}
	}

	.comment-notes {
		margin-bottom: 1em;
	}

	p {
		margin: 0 0 1.538em;
	}
}

.comment-list {
	.comment,
	.pingback {
		position: relative;

		.comment-reply-title {
			margin-top: 1em;
		}

		&:before {
			content: '';
			padding-right: 0;
		}
	}
}

.comment-author.vcard a {
	border-bottom: 3px solid $color__accent;
}

.comments-area {
	margin: 0 0 1.538em;
}

.comments-title,
.comment-reply-title {
	@include font-size(1.250);
	margin-bottom: 0;

	#cancel-comment-reply-link {
		float: right;
		font-family: $font__main;
		font-weight: 400;
		@include font-size(0.688);
		margin-bottom: 1em;
		margin-left: 1em;
		margin-top: 1em;
	}
}

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

.comment-list {
	list-style: none;
	margin: 0 0 3.077em;
	padding: 0;

	.children {
		list-style: none;
	}

	.edit-link {
		display: inline;
		text-align: left;
		width: auto;
	}
}

.comment-body {
	@include clearfix;
	margin-top: 3.077em;
	width: 100%;
}

.comment-author {
	.fn {
		display: inline-block;
		@include font-size(1);
		font-weight: 700;
		letter-spacing: 0;
		text-transform: none;

		a,
		a:visited {
		}
	}

	.avatar {
		border-radius: 100%;
		float: left;
		margin-right: 1.231em;
	}
}

.comment-meta {
	a {
		text-decoration: none;
	}
}

.comment-metadata {
	color: $color__text-input;
	@include font-size(0.750);
	margin-bottom: 0.769em;
	text-transform: lowercase;

	a,
	a:visited {
		border-bottom: none;
		color: $color__text-input;
		display: inline-block;
		font-weight: 400;
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}

	.edit-link {
		float: none;
	}

	.edit-link:before {
		content: "|";
		margin-left: 0.385em;
		margin-right: 0.769em;
	}

	a:first-of-type {
		display: inline-block;
		margin-bottom: 0.769em;
	}
}

.pingback,
.trackback {
	.edit-link {
		float: right;
	}
}

.no-comments {
	display: block;
	font-style: italic;
	text-align: center;
	width: 100%;
}

.says {
	display: none;
}

.comment-content {
	clear: both;
}

.comment-form label {
	display: inline-block;
	width: 8.385em;
}

.comment-form-author,
.comment-form-email,
.comment-form-url,
.comment-form-comment {
	margin: 0 0 1.538em;
	position: relative;

	input,
	textarea {
		clear: both;
		width: 100%;
	}

	textarea {
		padding: 0.538em 0.769em 0.308em;
	}
}
