%li-style {
	border-bottom: none;

	&:hover {
		color: $color__accent;
	}
}

.widget {
	margin: 0 0 3.077em;
	padding: 0 1.846em 0;

	.widget-title,
	.widgettitle  {
		@include font-size(1.250);
		margin-top: 0;
	}

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

.search-form {
	margin: 0 0 3.077em;
	display: flex;
	width: 100%;

	label {
		flex: 1;
		margin-right: 10px;

		.search-field {
			width: 100%;
			box-sizing: border-box;
		}
	}

	.search-submit {
		width: 90px;
	}
}

.slide-panel {
	.widget {
		color: $color__contrast;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: $color__contrast;
		}

		table,
		caption {
			background: transparent;
		}

		ul,
		ol {
			margin-left: 0;
			padding-left: 0;
			list-style: none;

		}

		.wp-caption  {
			.wp-caption-text,
			.gallery-caption {
				color: $color__contrast;
				font-style: italic;
			}
		}
	}

	.widget_search {
		.search-form {
			margin-bottom: 0;

			.search-submit {
				color: $color__link;

				&:hover {
					background: url(assets/images/more-bg.png);
					background-repeat: no-repeat;
					background-size: cover;
					border-color: none;
					opacity: 0.90;
				}

				&:active {
					opacity: 0.95;
				}
			}
		}
	}

	.widget_calendar {
		.calendar_wrap {
			background-color: rgba(0, 0, 0, 0.1);
			padding: 2em;
		}

		table {
			margin-bottom: 0;

			td {
				text-align: center;
			}
		}
	}

	.widget_authors {
		img {
			border-radius: 100%;
		}

		ul {
			margin-bottom: 0;
		}

		li {
			a {
				border-bottom: none;
			}

			li a {
				border-bottom: 3px solid $color__accent;

				&:hover {
					color: $color__accent;
				}
			}
		}

		& > ul > li {
			margin-bottom: 2em;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.widget_contact_info {
		.contact-map {
			margin-bottom: 1em;
		}
	}

	.widget_jetpack_display_posts_widget {
		a {
			border-bottom: none;
			display: block;
			margin-bottom: 1em;
		}

		p {
			margin-bottom: 1em !important;

			&:last-of-type {
				margin-bottom: 0 !important;
			}
		}

		.jetpack-display-remote-posts {
			margin-bottom: 0;

			h4 {
				@include font-size(1.125);

				a {
					border-bottom: 3px solid $color__accent;
					margin-bottom: 0;
					display: inline;

					&:hover {
						color: $color__accent;
					}
				}
			}
		}
	}

	.widget_facebook_likebox {
		h2 {
			a {
				border-bottom: none;
			}
		}
	}

	.widget-grofile {
		p {
			margin-bottom: 0;
		}
	}

	.widget-gallery-circle {
		.tiled-gallery {
			margin-bottom: 0;
		}
	}

	.widget_wpcom_social_media_icons_widget {
		ul {
			margin-bottom: 0;
			li {
				padding: 0.615em 0.4em 0.769em;

				&:before {
					content: '';
					padding-right: 0;
				}

				a {
					@include font-size(1.813);
					margin-bottom: 0.621em;

					&:hover,
					&:focus {
						color: $color__accent;
						opacity: 1;
					}
				}
			}
		}
	}

	.widget_upcoming_events_widget {
		ul {
			margin-bottom: 0;

			li {
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	.widget_google_translate_widget {
		a {
			border-bottom: none;

			&:hover {
				color: inherit;
			}
		}
	}

	.widget_goodreads {
		div[class^="gr_custom_container"] {
			background: transparent;
			border: none;
			color: $color__light;

			a {
				color: $color__light;
				border-bottom: none;
			}
		}

		div[class^="gr_custom_each_container"] {
			border: none;

			a {
				border-bottom: 3px solid $color__accent;

				&:hover {
					color: $color__accent;
				}
			}
		}
	}

	.widget_rss {
		li {
			margin-bottom: 1em;

			&:last-child {
				margin-bottom: 0;
			}
		}

		.widget-title a {
			border-bottom: none;
		}

		p {
			margin-bottom: 0;
		}
	}
}
