%li-style {
	border-bottom: none;
	&:hover {
		color: $color__accent;
	}
}

.widget {
	margin: 0;
	padding: 1em 1.846em 0.385em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

.slide-panel .widget {
	color: $color__contrast;
	.widget-title {
		color: $color__light;
	}

	table, caption {
		background: transparent;
	}

	ul {
		padding-left: 0;
		margin-left: 0;
	}

	#wp-calendar td {
		text-align: center;
	}

	input.search-submit {
		color: $color__contrast;
	}
}

.footer-widgets-wrapper, .full-width-widget-area {
	float: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;

	.widget-area {
		width: 100%;
		margin: 0 0 1.6em;
	}

	.widget-gallery,
	.widget_text,
	.widget_wpcom_instagram_widget {
		flex-basis: 100%;
	}
}
